In [8]:
import pandas as pd
data = pd.read_csv('homicide.csv')

In [9]:
data.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,641,4756,HP587530,09/22/2008 11:24:00 PM,047XX W GLADYS AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,24.0,25.0,01A,1144818.0,1897935.0,2008,08/17/2015 03:03:40 PM,41.875943,-87.743748,"(41.875942734, -87.743748059)"
1,1245,4757,HP587531,09/22/2008 11:37:00 PM,022XX S KIRKLAND AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,22.0,29.0,01A,1147705.0,1888660.0,2008,08/17/2015 03:03:40 PM,41.850436,-87.733386,"(41.850436084, -87.733385899)"
2,1794,4758,HP572693,09/23/2008 09:57:00 AM,027XX W POPE JOHN PAUL II DR,110,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,...,12.0,58.0,01A,1158655.0,1876028.0,2008,08/17/2015 03:03:40 PM,41.815555,-87.693543,"(41.815555438, -87.693542513)"
3,2296,4759,HP588309,09/23/2008 01:40:00 PM,056XX W 64TH ST,110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,...,13.0,64.0,01A,1139888.0,1861562.0,2008,08/17/2015 03:03:40 PM,41.776221,-87.762736,"(41.776221083, -87.762736483)"
4,2911,4760,HP589244,09/23/2008 08:25:00 PM,088XX S PRAIRIE AVE,110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,...,6.0,44.0,01A,1179584.0,1846297.0,2008,08/17/2015 03:03:40 PM,41.733517,-87.617679,"(41.733517296, -87.617679154)"

In [10]:
data.Year.unique()

array([2008, 2015, 2016, 2013, 2009, 2018, 2017, 2001, 2003, 2006, 2002,
       2010, 2007, 2011, 2012, 2014, 2004, 2005])

In [11]:
data.Description.unique()

array(['FIRST DEGREE MURDER', 'RECKLESS HOMICIDE',
       'INVOLUNTARY MANSLAUGHTER'], dtype=object)

In [12]:
data['Location Description'].unique()

array(['STREET', 'HOUSE', 'ALLEY', 'GAS STATION DRIVE/PROP.', 'APARTMENT',
       'PARKING LOT', 'AUTO', 'RETAIL STORE', 'CTA BUS', 'PARK PROPERTY',
       'RESTAURANT', 'GARAGE', 'PORCH', 'HALLWAY', 'YARD', 'VACANT LOT',
       'BARBER SHOP/BEAUTY SALON', 'CHA HALLWAY', 'GANGWAY',
       'ROOMING HOUSE', 'SCHOOL YARD', 'TAVERN', 'CAR WASH',
       'CTA PROPERTY', 'CHA PARKING LOT', 'STAIRWELL', 'HOTEL',
       'GAS STATION', 'CHA APARTMENT', 'ABANDONED BUILDING',
       'CHA STAIRWELL', 'BASEMENT', 'TRUCK', 'COACH HOUSE', 'CLUB',
       'CURRENCY EXCHANGE', 'LOADING DOCK', 'CHA ELEVATOR', 'LAKE',
       'RAILROAD PROPERTY', 'VESTIBULE', 'DUMPSTER', 'FOREST PRESERVE',
       'CHA PLAY LOT', 'CHA GROUNDS', 'GOVERNMENT BUILDING', 'HOSPITAL',
       'RIVER', 'BAR OR TAVERN', 'WOODED AREA', 'ELEVATOR', 'COUNTY JAIL',
       'YMCA', 'CHURCH PROPERTY', 'SEWER', 'LIVERY STAND OFFICE',
       'GARAGE/AUTO REPAIR', 'CHURCH', 'CHA BREEZEWAY', 'CHA LOBBY',
       'PRAIRIE', 'DRIVEWAY', 'PUBLIC GRAMMAR SCHOOL',
       'JUNK YARD/GARBAGE DUMP', 'FUNERAL PARLOR', 'OFFICE', 'RIVER BANK',
       'NURSING HOME', 'CLEANERS/LAUNDROMAT', 'LIQUOR STORE', 'MOTEL',
       'EXPRESSWAY EMBANKMENT', 'CTA "L" PLATFORM', 'PUBLIC HIGH SCHOOL',
       'TAXI CAB', 'CTA "L" TRAIN', 'TRUCKING TERMINAL', 'WAREHOUSE',
       'FACTORY', 'TRAILER', 'LAUNDRY ROOM', 'SIDEWALK', 'LIVERY AUTO',
       'HOSPITAL BUILDING/GROUNDS', 'BANK', 'BANQUET HALL', 'POOLROOM',
       'LAGOON', 'RESIDENCE'], dtype=object)

In [13]:
data1 = data.drop(['Unnamed: 0','Case Number','Block','IUCR','FBI Code','X Coordinate','Y Coordinate','Updated On','Location','Ward','Community Area'],axis=1)

In [14]:
data1.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Year,Latitude,Longitude
0,4756,09/22/2008 11:24:00 PM,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1131,11.0,2008,41.875943,-87.743748
1,4757,09/22/2008 11:37:00 PM,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1013,10.0,2008,41.850436,-87.733386
2,4758,09/23/2008 09:57:00 AM,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,True,912,9.0,2008,41.815555,-87.693543
3,4759,09/23/2008 01:40:00 PM,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,812,8.0,2008,41.776221,-87.762736
4,4760,09/23/2008 08:25:00 PM,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,632,6.0,2008,41.733517,-87.617679

In [15]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8991 entries, 0 to 8990
Data columns (total 12 columns):
ID                      8991 non-null int64
Date                    8991 non-null object
Primary Type            8991 non-null object
Description             8991 non-null object
Location Description    8991 non-null object
Arrest                  8991 non-null bool
Domestic                8991 non-null bool
Beat                    8991 non-null int64
District                8991 non-null float64
Year                    8991 non-null int64
Latitude                8908 non-null float64
Longitude               8908 non-null float64
dtypes: bool(2), float64(3), int64(3), object(4)
memory usage: 720.1+ KB

In [16]:
data2 = data1.dropna()

In [17]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8908 entries, 0 to 8990
Data columns (total 12 columns):
ID                      8908 non-null int64
Date                    8908 non-null object
Primary Type            8908 non-null object
Description             8908 non-null object
Location Description    8908 non-null object
Arrest                  8908 non-null bool
Domestic                8908 non-null bool
Beat                    8908 non-null int64
District                8908 non-null float64
Year                    8908 non-null int64
Latitude                8908 non-null float64
Longitude               8908 non-null float64
dtypes: bool(2), float64(3), int64(3), object(4)
memory usage: 782.9+ KB

In [18]:
data2['Date'] = pd.to_datetime(data2['Date'])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8908 entries, 0 to 8990
Data columns (total 12 columns):
ID                      8908 non-null int64
Date                    8908 non-null datetime64[ns]
Primary Type            8908 non-null object
Description             8908 non-null object
Location Description    8908 non-null object
Arrest                  8908 non-null bool
Domestic                8908 non-null bool
Beat                    8908 non-null int64
District                8908 non-null float64
Year                    8908 non-null int64
Latitude                8908 non-null float64
Longitude               8908 non-null float64
dtypes: bool(2), datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 782.9+ KB

In [20]:
import datetime as dt

In [21]:
data2['Day'] = data2['Date'].dt.dayofweek

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
data2['Hour'] = data2['Date'].dt.hour

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
data2.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Year,Latitude,Longitude,Day,Hour
0,4756,2008-09-22 23:24:00,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1131,11.0,2008,41.875943,-87.743748,0,23
1,4757,2008-09-22 23:37:00,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1013,10.0,2008,41.850436,-87.733386,0,23
2,4758,2008-09-23 09:57:00,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,True,912,9.0,2008,41.815555,-87.693543,1,9
3,4759,2008-09-23 13:40:00,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,812,8.0,2008,41.776221,-87.762736,1,13
4,4760,2008-09-23 20:25:00,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,632,6.0,2008,41.733517,-87.617679,1,20

In [24]:
map_dict_day = {0:'Monday',
               1: 'Tuesday',
               2: 'Wednesday',
               3: 'Thursday',
               4: 'Friday',
               5: 'Saturday',
               6: 'Sunday'}

In [25]:
data2['Day'] = data2['Day'].map(map_dict_day)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
data2.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Year,Latitude,Longitude,Day,Hour
0,4756,2008-09-22 23:24:00,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1131,11.0,2008,41.875943,-87.743748,Monday,23
1,4757,2008-09-22 23:37:00,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1013,10.0,2008,41.850436,-87.733386,Monday,23
2,4758,2008-09-23 09:57:00,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,True,912,9.0,2008,41.815555,-87.693543,Tuesday,9
3,4759,2008-09-23 13:40:00,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,812,8.0,2008,41.776221,-87.762736,Tuesday,13
4,4760,2008-09-23 20:25:00,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,632,6.0,2008,41.733517,-87.617679,Tuesday,20

In [42]:
from bokeh.io import curdoc
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure
from bokeh.layouts import widgetbox, row
from bokeh.models import Select, Slider
from bokeh.models import (
  GMapPlot, GMapOptions, Range1d, PanTool, WheelZoomTool, BoxSelectTool, Circle
)
from bokeh.models import CategoricalColorMapper
from bokeh.palettes import Spectral6
from bokeh.models import HoverTool

In [48]:
source = ColumnDataSource(data={
    'x' : data2['Longitude'],
    'y' : data2['Latitude'],
    'Day' : data2['Day'],
    'Hour' : data2['Hour'],
    'Description' : data2['Description'],
    'Color' : data2['Arrest']
})

In [29]:
map_options = GMapOptions(lat=41.8, lng=-87.6, map_type="roadmap", zoom=10)

In [30]:
plot = GMapPlot(x_range=Range1d(), y_range=Range1d(), map_options=map_options)

plot.api_key = "AIzaSyDVBk3siqo5PAxfax5XKbFecsaiEtN98DE"

In [55]:
circle = Circle(x="x", y="y")
plot.add_glyph(source,circle)

GlyphRenderer(id='784ee97f-3eee-4388-9fac-2422d06c8ccb', ...)

In [44]:
hover = HoverTool(tooltips=[('Day','@Day'),('Hour','@Hour'),('Description','@Description')])
plot.add_tools(hover)

In [61]:
def update_plot(attr,old,new):
    year = year_slider.value
    location = location_select.value
    new_data = {
        'x' : data2['Longitude'][(data2['Year']==year)&(data2['Location Description']==location)],
        'y' : data2['Latitude'][(data2['Year']==year)&(data2['Location Description']==location)],
        'Day' : data2['Day'],
        'Hour' : data2['Hour'],
        'Description' : data2['Description'],
        'Color' : data2['Arrest']
    }
    source.data = new_data
    plot.title.text = '{} Homicides in Chicago in {}'.format(location,year)

In [33]:
year_slider = Slider(start=2001,end=2018,step=1,value=2001,title='Year')

year_slider.on_change('value',update_plot)

In [34]:
location_select = Select(
    options = ['STREET', 'HOUSE', 'ALLEY', 'GAS STATION DRIVE/PROP.', 'APARTMENT',
       'PARKING LOT', 'AUTO', 'RETAIL STORE', 'CTA BUS', 'PARK PROPERTY',
       'RESTAURANT', 'GARAGE', 'PORCH', 'HALLWAY', 'YARD', 'VACANT LOT',
       'BARBER SHOP/BEAUTY SALON', 'CHA HALLWAY', 'GANGWAY',
       'ROOMING HOUSE', 'SCHOOL YARD', 'TAVERN', 'CAR WASH',
       'CTA PROPERTY', 'CHA PARKING LOT', 'STAIRWELL', 'HOTEL',
       'GAS STATION', 'CHA APARTMENT', 'ABANDONED BUILDING',
       'CHA STAIRWELL', 'BASEMENT', 'TRUCK', 'COACH HOUSE', 'CLUB',
       'CURRENCY EXCHANGE', 'LOADING DOCK', 'CHA ELEVATOR', 'LAKE',
       'RAILROAD PROPERTY', 'VESTIBULE', 'DUMPSTER', 'FOREST PRESERVE',
       'CHA PLAY LOT', 'CHA GROUNDS', 'GOVERNMENT BUILDING', 'HOSPITAL',
       'RIVER', 'BAR OR TAVERN', 'WOODED AREA', 'ELEVATOR', 'COUNTY JAIL',
       'YMCA', 'CHURCH PROPERTY', 'SEWER', 'LIVERY STAND OFFICE',
       'GARAGE/AUTO REPAIR', 'CHURCH', 'CHA BREEZEWAY', 'CHA LOBBY',
       'PRAIRIE', 'DRIVEWAY', 'PUBLIC GRAMMAR SCHOOL',
       'JUNK YARD/GARBAGE DUMP', 'FUNERAL PARLOR', 'OFFICE', 'RIVER BANK',
       'NURSING HOME', 'CLEANERS/LAUNDROMAT', 'LIQUOR STORE', 'MOTEL',
       'EXPRESSWAY EMBANKMENT', 'CTA "L" PLATFORM', 'PUBLIC HIGH SCHOOL',
       'TAXI CAB', 'CTA "L" TRAIN', 'TRUCKING TERMINAL', 'WAREHOUSE',
       'FACTORY', 'TRAILER', 'LAUNDRY ROOM', 'SIDEWALK', 'LIVERY AUTO',
       'HOSPITAL BUILDING/GROUNDS', 'BANK', 'BANQUET HALL', 'POOLROOM',
       'LAGOON', 'RESIDENCE'],
    value = 'STREET',
    title = 'Location'
)

location_select.on_change('value',update_plot)

In [36]:
plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool())
layout = row(widgetbox(year_slider,location_select), plot)
curdoc().add_root(layout)

In [40]:
data2['Longitude'][(data2['Year']==2001)&(data2['Location Description']=='STREET')]

458    -87.725224
459    -87.664929
462    -87.771157
463    -87.607096
465    -87.545821
466    -87.651403
467    -87.722340
468    -87.579346
471    -87.627189
472    -87.627189
477    -87.653113
478    -87.721498
481    -87.632391
483    -87.706990
487    -87.579672
490    -87.663636
491    -87.731792
495    -87.686986
497    -87.672249
498    -87.647708
505    -87.726807
512    -87.721161
513    -87.745216
518    -87.658120
522    -87.735149
527    -87.703669
531    -87.614417
533    -87.726744
534    -87.685972
538    -87.766837
          ...
1075   -87.644473
1077   -87.698712
1080   -87.706184
1081   -87.668447
1082   -87.574768
1084   -87.608335
1085   -87.673380
1089   -87.713753
1090   -87.670752
1095   -87.687522
1096   -87.713654
1097   -87.728066
1098   -87.689339
1106   -87.626213
1107   -87.624025
1112   -87.772310
1113   -87.692011
1114   -87.558342
1115   -87.700791
1117   -87.572315
1126   -87.583836
1131   -87.701857
1136   -87.661047
1138   -87.553489
1139   -87.663763
1140   -87.681172
1142   -87.626981
1143   -87.626981
1149   -87.665749
1150   -87.724124
Name: Longitude, Length: 235, dtype: float64