In [1]:
import pandas as pd
data = pd.read_csv('homicide.csv')

In [2]:
data.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,641,4756,HP587530,09/22/2008 11:24:00 PM,047XX W GLADYS AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,24.0,25.0,01A,1144818.0,1897935.0,2008,08/17/2015 03:03:40 PM,41.875943,-87.743748,"(41.875942734, -87.743748059)"
1,1245,4757,HP587531,09/22/2008 11:37:00 PM,022XX S KIRKLAND AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,22.0,29.0,01A,1147705.0,1888660.0,2008,08/17/2015 03:03:40 PM,41.850436,-87.733386,"(41.850436084, -87.733385899)"
2,1794,4758,HP572693,09/23/2008 09:57:00 AM,027XX W POPE JOHN PAUL II DR,110,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,...,12.0,58.0,01A,1158655.0,1876028.0,2008,08/17/2015 03:03:40 PM,41.815555,-87.693543,"(41.815555438, -87.693542513)"
3,2296,4759,HP588309,09/23/2008 01:40:00 PM,056XX W 64TH ST,110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,...,13.0,64.0,01A,1139888.0,1861562.0,2008,08/17/2015 03:03:40 PM,41.776221,-87.762736,"(41.776221083, -87.762736483)"
4,2911,4760,HP589244,09/23/2008 08:25:00 PM,088XX S PRAIRIE AVE,110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,...,6.0,44.0,01A,1179584.0,1846297.0,2008,08/17/2015 03:03:40 PM,41.733517,-87.617679,"(41.733517296, -87.617679154)"

In [3]:
#isolate each unique year
data.Year.unique()

array([2008, 2015, 2016, 2013, 2009, 2018, 2017, 2001, 2003, 2006, 2002,
       2010, 2007, 2011, 2012, 2014, 2004, 2005])

In [4]:
#isolate each homicide description
data.Description.unique()

array(['FIRST DEGREE MURDER', 'RECKLESS HOMICIDE',
       'INVOLUNTARY MANSLAUGHTER'], dtype=object)

In [5]:
#isolate each unique location where the homicide occurred
data['Location Description'].unique()

array(['STREET', 'HOUSE', 'ALLEY', 'GAS STATION DRIVE/PROP.', 'APARTMENT',
       'PARKING LOT', 'AUTO', 'RETAIL STORE', 'CTA BUS', 'PARK PROPERTY',
       'RESTAURANT', 'GARAGE', 'PORCH', 'HALLWAY', 'YARD', 'VACANT LOT',
       'BARBER SHOP/BEAUTY SALON', 'CHA HALLWAY', 'GANGWAY',
       'ROOMING HOUSE', 'SCHOOL YARD', 'TAVERN', 'CAR WASH',
       'CTA PROPERTY', 'CHA PARKING LOT', 'STAIRWELL', 'HOTEL',
       'GAS STATION', 'CHA APARTMENT', 'ABANDONED BUILDING',
       'CHA STAIRWELL', 'BASEMENT', 'TRUCK', 'COACH HOUSE', 'CLUB',
       'CURRENCY EXCHANGE', 'LOADING DOCK', 'CHA ELEVATOR', 'LAKE',
       'RAILROAD PROPERTY', 'VESTIBULE', 'DUMPSTER', 'FOREST PRESERVE',
       'CHA PLAY LOT', 'CHA GROUNDS', 'GOVERNMENT BUILDING', 'HOSPITAL',
       'RIVER', 'BAR OR TAVERN', 'WOODED AREA', 'ELEVATOR', 'COUNTY JAIL',
       'YMCA', 'CHURCH PROPERTY', 'SEWER', 'LIVERY STAND OFFICE',
       'GARAGE/AUTO REPAIR', 'CHURCH', 'CHA BREEZEWAY', 'CHA LOBBY',
       'PRAIRIE', 'DRIVEWAY', 'PUBLIC GRAMMAR SCHOOL',
       'JUNK YARD/GARBAGE DUMP', 'FUNERAL PARLOR', 'OFFICE', 'RIVER BANK',
       'NURSING HOME', 'CLEANERS/LAUNDROMAT', 'LIQUOR STORE', 'MOTEL',
       'EXPRESSWAY EMBANKMENT', 'CTA "L" PLATFORM', 'PUBLIC HIGH SCHOOL',
       'TAXI CAB', 'CTA "L" TRAIN', 'TRUCKING TERMINAL', 'WAREHOUSE',
       'FACTORY', 'TRAILER', 'LAUNDRY ROOM', 'SIDEWALK', 'LIVERY AUTO',
       'HOSPITAL BUILDING/GROUNDS', 'BANK', 'BANQUET HALL', 'POOLROOM',
       'LAGOON', 'RESIDENCE'], dtype=object)

In [6]:
#drop columns missing values or that don't add any additional information
data1 = data.drop(['Unnamed: 0','Case Number','Block','IUCR','FBI Code','X Coordinate','Y Coordinate','Updated On','Location','Ward','Community Area'],axis=1)

In [7]:
data1.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Year,Latitude,Longitude
0,4756,09/22/2008 11:24:00 PM,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1131,11.0,2008,41.875943,-87.743748
1,4757,09/22/2008 11:37:00 PM,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1013,10.0,2008,41.850436,-87.733386
2,4758,09/23/2008 09:57:00 AM,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,True,912,9.0,2008,41.815555,-87.693543
3,4759,09/23/2008 01:40:00 PM,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,812,8.0,2008,41.776221,-87.762736
4,4760,09/23/2008 08:25:00 PM,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,632,6.0,2008,41.733517,-87.617679

In [8]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8991 entries, 0 to 8990
Data columns (total 12 columns):
ID                      8991 non-null int64
Date                    8991 non-null object
Primary Type            8991 non-null object
Description             8991 non-null object
Location Description    8991 non-null object
Arrest                  8991 non-null bool
Domestic                8991 non-null bool
Beat                    8991 non-null int64
District                8991 non-null float64
Year                    8991 non-null int64
Latitude                8908 non-null float64
Longitude               8908 non-null float64
dtypes: bool(2), float64(3), int64(3), object(4)
memory usage: 720.1+ KB

In [9]:
data2 = data1.dropna()

In [10]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8908 entries, 0 to 8990
Data columns (total 12 columns):
ID                      8908 non-null int64
Date                    8908 non-null object
Primary Type            8908 non-null object
Description             8908 non-null object
Location Description    8908 non-null object
Arrest                  8908 non-null bool
Domestic                8908 non-null bool
Beat                    8908 non-null int64
District                8908 non-null float64
Year                    8908 non-null int64
Latitude                8908 non-null float64
Longitude               8908 non-null float64
dtypes: bool(2), float64(3), int64(3), object(4)
memory usage: 782.9+ KB

In [11]:
#convert date strings to datetime objects
data2['Date'] = pd.to_datetime(data2['Date'])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8908 entries, 0 to 8990
Data columns (total 12 columns):
ID                      8908 non-null int64
Date                    8908 non-null datetime64[ns]
Primary Type            8908 non-null object
Description             8908 non-null object
Location Description    8908 non-null object
Arrest                  8908 non-null bool
Domestic                8908 non-null bool
Beat                    8908 non-null int64
District                8908 non-null float64
Year                    8908 non-null int64
Latitude                8908 non-null float64
Longitude               8908 non-null float64
dtypes: bool(2), datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 782.9+ KB

In [13]:
import datetime as dt

In [14]:
#create a column with day of week derived from the datetime object
data2['Day'] = data2['Date'].dt.dayofweek

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
#create a column with hour of day derived from the datetime object
data2['Hour'] = data2['Date'].dt.hour

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
data2.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Year,Latitude,Longitude,Day,Hour
0,4756,2008-09-22 23:24:00,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1131,11.0,2008,41.875943,-87.743748,0,23
1,4757,2008-09-22 23:37:00,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1013,10.0,2008,41.850436,-87.733386,0,23
2,4758,2008-09-23 09:57:00,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,True,912,9.0,2008,41.815555,-87.693543,1,9
3,4759,2008-09-23 13:40:00,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,812,8.0,2008,41.776221,-87.762736,1,13
4,4760,2008-09-23 20:25:00,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,632,6.0,2008,41.733517,-87.617679,1,20

In [17]:
map_dict_day = {0:'Monday',
               1: 'Tuesday',
               2: 'Wednesday',
               3: 'Thursday',
               4: 'Friday',
               5: 'Saturday',
               6: 'Sunday'}

In [18]:
#map the numerical day of the week to the name of the day of the week
data2['Day'] = data2['Day'].map(map_dict_day)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
data2.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Year,Latitude,Longitude,Day,Hour
0,4756,2008-09-22 23:24:00,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1131,11.0,2008,41.875943,-87.743748,Monday,23
1,4757,2008-09-22 23:37:00,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,1013,10.0,2008,41.850436,-87.733386,Monday,23
2,4758,2008-09-23 09:57:00,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,True,912,9.0,2008,41.815555,-87.693543,Tuesday,9
3,4759,2008-09-23 13:40:00,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,812,8.0,2008,41.776221,-87.762736,Tuesday,13
4,4760,2008-09-23 20:25:00,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,632,6.0,2008,41.733517,-87.617679,Tuesday,20

In [20]:
#transform boolean to string
data2['Arrest'] = [str(x) for x in data2['Arrest']]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
#transform float to string
data2['District'] = [str(x) for x in data2['District']]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
type(data2.Arrest[0])

str

In [23]:
type(data2.District[0])

str

In [67]:
#import neccessary calls from bokeh
from bokeh.io import curdoc
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure
from bokeh.layouts import widgetbox, row
from bokeh.models import Select, Slider, CheckboxGroup, RadioGroup, CheckboxButtonGroup, Button
from bokeh.models import (
  GMapPlot, GMapOptions, Range1d, PanTool, WheelZoomTool, BoxSelectTool, Circle
)
from bokeh.models import CategoricalColorMapper
from bokeh.palettes import viridis
from bokeh.models import HoverTool

In [25]:
#create initial column data source
source = ColumnDataSource(data={
    'x' : data2['Longitude'],
    'y' : data2['Latitude'],
    'Day' : data2['Day'],
    'Hour' : data2['Hour'],
    'Description' : data2['Description'],
    'color' : data2.Arrest.tolist(),
    'Beat' : data2['Beat'],
    'District' : data2['District']
})

In [26]:
#initialize Google Maps
map_options = GMapOptions(lat=41.8, lng=-87.6, map_type="roadmap", zoom=10)

In [27]:
plot = GMapPlot(x_range=Range1d(), y_range=Range1d(), map_options=map_options)

plot.api_key = "AIzaSyDVBk3siqo5PAxfax5XKbFecsaiEtN98DE"

In [28]:
#isolate each unique district
district = [str(x) for x in data2.District.unique()]
district

['11.0',
 '10.0',
 '9.0',
 '8.0',
 '6.0',
 '19.0',
 '4.0',
 '25.0',
 '2.0',
 '5.0',
 '22.0',
 '15.0',
 '3.0',
 '7.0',
 '12.0',
 '14.0',
 '1.0',
 '18.0',
 '24.0',
 '17.0',
 '16.0',
 '20.0']

In [29]:
#automatically generate enough colors for each district with a preset pallette
viridis(len(district))

['#440154',
 '#471265',
 '#482273',
 '#46317E',
 '#424085',
 '#3C4D8A',
 '#365A8C',
 '#30678D',
 '#2B738E',
 '#277E8E',
 '#22898D',
 '#1F958B',
 '#1EA087',
 '#25AB81',
 '#35B778',
 '#49C16D',
 '#62CA5F',
 '#7ED24E',
 '#9DD93A',
 '#BDDE26',
 '#DCE218',
 '#FDE724']

In [30]:
#map each district to a different color
color_mapper = CategoricalColorMapper(factors=district, palette=viridis(len(district)))

In [31]:
#generate a circle on the map based on the longitude and latitude of the homicide
circle = Circle(x="x", y="y",fill_color=dict(field='District', transform=color_mapper), fill_alpha=0.9, line_color=None)
plot.add_glyph(source,circle)

GlyphRenderer(id='a8c2e5c2-3da0-40cf-a993-dab7744050e7', ...)

In [32]:
#add hover functionality
hover = HoverTool(tooltips=[('Day','@Day'),('Hour','@Hour'),('Description','@Description'),('Beat','@Beat'),('District','@District'),('Arrest','@color')])
plot.add_tools(hover)

In [72]:
#updates the column data source based on different interactions on the visualizaiton
def update_plot(attr,old,new):
    year = year_slider.value
    location = location_select.value
    locations = [dictionary[x] for x in location_checkboxgroup.active]
    arrests = [dictionary1[x] for x in arrest_checkboxgroup.active]
    district = [dictionary2[x] for x in district_checkboxgroup.active]
    dow = [dictionary3[x] for x in dow_checkboxgroup.active]
    new_data = {
        'x' : data2['Longitude'][(data2['Year']==year)&(data2['Location Description'].isin(locations))&(data2['Arrest'].isin(arrests))&(data2['District'].isin(district))&(data2['Day'].isin(dow))],
        'y' : data2['Latitude'][(data2['Year']==year)&(data2['Location Description'].isin(locations))&(data2['Arrest'].isin(arrests))&(data2['District'].isin(district))&(data2['Day'].isin(dow))],
        'Day' : data2['Day'][(data2['Year']==year)&(data2['Location Description'].isin(locations))&(data2['Arrest'].isin(arrests))&(data2['District'].isin(district))&(data2['Day'].isin(dow))],
        'Hour' : data2['Hour'][(data2['Year']==year)&(data2['Location Description'].isin(locations))&(data2['Arrest'].isin(arrests))&(data2['District'].isin(district))&(data2['Day'].isin(dow))],
        'Description' : data2['Description'][(data2['Year']==year)&(data2['Location Description'].isin(locations))&(data2['District'].isin(district))&(data2['Day'].isin(dow))],
        'color' : data2['Arrest'][(data2['Year']==year)&(data2['Location Description'].isin(locations))&(data2['Arrest'].isin(arrests))&(data2['District'].isin(district))&(data2['Day'].isin(dow))],
        'Beat' : data2['Beat'][(data2['Year']==year)&(data2['Location Description'].isin(locations))&(data2['Arrest'].isin(arrests))&(data2['District'].isin(district))&(data2['Day'].isin(dow))],
        'District' : data2['District'][(data2['Year']==year)&(data2['Location Description'].isin(locations))&(data2['Arrest'].isin(arrests))&(data2['District'].isin(district))&(data2['Day'].isin(dow))]
    }
    source.data = new_data
    plot.title.text = 'Homicides in Chicago in {}'.format(year)

In [103]:
#updates active fields in each respective checkbox group when select all and unselect all buttons are activated
def update():
    dow_checkboxgroup.active = list(range(7))
def update1():
    dow_checkboxgroup.active = list(range(0))
def update2():
    location_checkboxgroup.active = list(range(89))
def update3():
    location_checkboxgroup.active = list(range(0))
def update4():
    district_checkboxgroup.active = list(range(22))
def update5():
    district_checkboxgroup.active = list(range(0))

In [36]:
#create slider to control year
year_slider = Slider(start=2001,end=2018,step=1,value=2001,title='Year')

year_slider.on_change('value',update_plot)

In [37]:

location_select = Select(
    options = ['STREET', 'HOUSE', 'ALLEY', 'GAS STATION DRIVE/PROP.', 'APARTMENT',
       'PARKING LOT', 'AUTO', 'RETAIL STORE', 'CTA BUS', 'PARK PROPERTY',
       'RESTAURANT', 'GARAGE', 'PORCH', 'HALLWAY', 'YARD', 'VACANT LOT',
       'BARBER SHOP/BEAUTY SALON', 'CHA HALLWAY', 'GANGWAY',
       'ROOMING HOUSE', 'SCHOOL YARD', 'TAVERN', 'CAR WASH',
       'CTA PROPERTY', 'CHA PARKING LOT', 'STAIRWELL', 'HOTEL',
       'GAS STATION', 'CHA APARTMENT', 'ABANDONED BUILDING',
       'CHA STAIRWELL', 'BASEMENT', 'TRUCK', 'COACH HOUSE', 'CLUB',
       'CURRENCY EXCHANGE', 'LOADING DOCK', 'CHA ELEVATOR', 'LAKE',
       'RAILROAD PROPERTY', 'VESTIBULE', 'DUMPSTER', 'FOREST PRESERVE',
       'CHA PLAY LOT', 'CHA GROUNDS', 'GOVERNMENT BUILDING', 'HOSPITAL',
       'RIVER', 'BAR OR TAVERN', 'WOODED AREA', 'ELEVATOR', 'COUNTY JAIL',
       'YMCA', 'CHURCH PROPERTY', 'SEWER', 'LIVERY STAND OFFICE',
       'GARAGE/AUTO REPAIR', 'CHURCH', 'CHA BREEZEWAY', 'CHA LOBBY',
       'PRAIRIE', 'DRIVEWAY', 'PUBLIC GRAMMAR SCHOOL',
       'JUNK YARD/GARBAGE DUMP', 'FUNERAL PARLOR', 'OFFICE', 'RIVER BANK',
       'NURSING HOME', 'CLEANERS/LAUNDROMAT', 'LIQUOR STORE', 'MOTEL',
       'EXPRESSWAY EMBANKMENT', 'CTA "L" PLATFORM', 'PUBLIC HIGH SCHOOL',
       'TAXI CAB', 'CTA "L" TRAIN', 'TRUCKING TERMINAL', 'WAREHOUSE',
       'FACTORY', 'TRAILER', 'LAUNDRY ROOM', 'SIDEWALK', 'LIVERY AUTO',
       'HOSPITAL BUILDING/GROUNDS', 'BANK', 'BANQUET HALL', 'POOLROOM',
       'LAGOON', 'RESIDENCE'],
    value = 'STREET',
    title = 'Location'
)

location_select.on_change('value',update_plot)

In [38]:
#create check box group to select locations
location_checkboxgroup = CheckboxGroup(labels=['STREET', 'HOUSE', 'ALLEY', 'GAS STATION DRIVE/PROP.', 'APARTMENT',
       'PARKING LOT', 'AUTO', 'RETAIL STORE', 'CTA BUS', 'PARK PROPERTY',
       'RESTAURANT', 'GARAGE', 'PORCH', 'HALLWAY', 'YARD', 'VACANT LOT',
       'BARBER SHOP/BEAUTY SALON', 'CHA HALLWAY', 'GANGWAY',
       'ROOMING HOUSE', 'SCHOOL YARD', 'TAVERN', 'CAR WASH',
       'CTA PROPERTY', 'CHA PARKING LOT', 'STAIRWELL', 'HOTEL',
       'GAS STATION', 'CHA APARTMENT', 'ABANDONED BUILDING',
       'CHA STAIRWELL', 'BASEMENT', 'TRUCK', 'COACH HOUSE', 'CLUB',
       'CURRENCY EXCHANGE', 'LOADING DOCK', 'CHA ELEVATOR', 'LAKE',
       'RAILROAD PROPERTY', 'VESTIBULE', 'DUMPSTER', 'FOREST PRESERVE',
       'CHA PLAY LOT', 'CHA GROUNDS', 'GOVERNMENT BUILDING', 'HOSPITAL',
       'RIVER', 'BAR OR TAVERN', 'WOODED AREA', 'ELEVATOR', 'COUNTY JAIL',
       'YMCA', 'CHURCH PROPERTY', 'SEWER', 'LIVERY STAND OFFICE',
       'GARAGE/AUTO REPAIR', 'CHURCH', 'CHA BREEZEWAY', 'CHA LOBBY',
       'PRAIRIE', 'DRIVEWAY', 'PUBLIC GRAMMAR SCHOOL',
       'JUNK YARD/GARBAGE DUMP', 'FUNERAL PARLOR', 'OFFICE', 'RIVER BANK',
       'NURSING HOME', 'CLEANERS/LAUNDROMAT', 'LIQUOR STORE', 'MOTEL',
       'EXPRESSWAY EMBANKMENT', 'CTA "L" PLATFORM', 'PUBLIC HIGH SCHOOL',
       'TAXI CAB', 'CTA "L" TRAIN', 'TRUCKING TERMINAL', 'WAREHOUSE',
       'FACTORY', 'TRAILER', 'LAUNDRY ROOM', 'SIDEWALK', 'LIVERY AUTO',
       'HOSPITAL BUILDING/GROUNDS', 'BANK', 'BANQUET HALL', 'POOLROOM','LAGOON','RESIDENCE'],active=[0,1])

location_checkboxgroup.on_change('active',update_plot)

In [39]:
#create check box group to select whether there was an arrest or no arrest
arrest_checkboxgroup = CheckboxButtonGroup(labels = ['True','False'],active=[0,1])

arrest_checkboxgroup.on_change('active',update_plot)

In [40]:
#create checkbox group to select districts
district_checkboxgroup = CheckboxButtonGroup(labels = ['11.0', '10.0', '9.0', '8.0', '6.0', '19.0', '4.0', '25.0', '2.0',
       '5.0', '22.0', '15.0', '3.0', '7.0', '12.0', '14.0', '1.0', '18.0',
       '24.0', '17.0', '16.0', '20.0'],active=[0,1])
district_checkboxgroup.on_change('active',update_plot)

In [60]:
#create checkbox group to select day of week
dow_checkboxgroup = CheckboxButtonGroup(labels = ['Monday', 'Tuesday', 'Thursday', 'Friday', 'Saturday', 'Sunday',
       'Wednesday'],active=[0,1])

dow_checkboxgroup.on_change('active',update_plot)

In [101]:
#create select all and unselect all buttons for day of week, locations, and districts
select_all = Button(label="select all days")
select_all.on_click(update)
unselect_all = Button(label="unselect all days")
unselect_all.on_click(update1)

select_all2 = Button(label="select all locations")
select_all2.on_click(update2)
unselect_all2 = Button(label="unselect all locations")
unselect_all2.on_click(update3)

select_all3 = Button(label="select all districts")
select_all3.on_click(update4)
unselect_all3 = Button(label="unselect all districts")
unselect_all3.on_click(update5)

In [102]:
#add all elements to the same document
plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool())
layout = row(widgetbox(year_slider,arrest_checkboxgroup,select_all3,unselect_all3,district_checkboxgroup,select_all,unselect_all,dow_checkboxgroup,select_all2,unselect_all2,location_checkboxgroup), plot)
curdoc().add_root(layout)

In [42]:
arrest_checkboxgroup.active

[0, 1]

In [43]:
arr = ['True','False']

In [44]:
locations = ['STREET', 'HOUSE', 'ALLEY', 'GAS STATION DRIVE/PROP.', 'APARTMENT',
       'PARKING LOT', 'AUTO', 'RETAIL STORE', 'CTA BUS', 'PARK PROPERTY',
       'RESTAURANT', 'GARAGE', 'PORCH', 'HALLWAY', 'YARD', 'VACANT LOT',
       'BARBER SHOP/BEAUTY SALON', 'CHA HALLWAY', 'GANGWAY',
       'ROOMING HOUSE', 'SCHOOL YARD', 'TAVERN', 'CAR WASH',
       'CTA PROPERTY', 'CHA PARKING LOT', 'STAIRWELL', 'HOTEL',
       'GAS STATION', 'CHA APARTMENT', 'ABANDONED BUILDING',
       'CHA STAIRWELL', 'BASEMENT', 'TRUCK', 'COACH HOUSE', 'CLUB',
       'CURRENCY EXCHANGE', 'LOADING DOCK', 'CHA ELEVATOR', 'LAKE',
       'RAILROAD PROPERTY', 'VESTIBULE', 'DUMPSTER', 'FOREST PRESERVE',
       'CHA PLAY LOT', 'CHA GROUNDS', 'GOVERNMENT BUILDING', 'HOSPITAL',
       'RIVER', 'BAR OR TAVERN', 'WOODED AREA', 'ELEVATOR', 'COUNTY JAIL',
       'YMCA', 'CHURCH PROPERTY', 'SEWER', 'LIVERY STAND OFFICE',
       'GARAGE/AUTO REPAIR', 'CHURCH', 'CHA BREEZEWAY', 'CHA LOBBY',
       'PRAIRIE', 'DRIVEWAY', 'PUBLIC GRAMMAR SCHOOL',
       'JUNK YARD/GARBAGE DUMP', 'FUNERAL PARLOR', 'OFFICE', 'RIVER BANK',
       'NURSING HOME', 'CLEANERS/LAUNDROMAT', 'LIQUOR STORE', 'MOTEL',
       'EXPRESSWAY EMBANKMENT', 'CTA "L" PLATFORM', 'PUBLIC HIGH SCHOOL',
       'TAXI CAB', 'CTA "L" TRAIN', 'TRUCKING TERMINAL', 'WAREHOUSE',
       'FACTORY', 'TRAILER', 'LAUNDRY ROOM', 'SIDEWALK', 'LIVERY AUTO',
       'HOSPITAL BUILDING/GROUNDS', 'BANK', 'BANQUET HALL', 'POOLROOM','LAGOON','RESIDENCE']

In [45]:
len(locations)

89

In [46]:
import numpy as np
num = np.arange(0,89)
num

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88])

In [47]:
dictionary = dict(zip(num,locations))

In [48]:
dictionary

{0: 'STREET',
 1: 'HOUSE',
 2: 'ALLEY',
 3: 'GAS STATION DRIVE/PROP.',
 4: 'APARTMENT',
 5: 'PARKING LOT',
 6: 'AUTO',
 7: 'RETAIL STORE',
 8: 'CTA BUS',
 9: 'PARK PROPERTY',
 10: 'RESTAURANT',
 11: 'GARAGE',
 12: 'PORCH',
 13: 'HALLWAY',
 14: 'YARD',
 15: 'VACANT LOT',
 16: 'BARBER SHOP/BEAUTY SALON',
 17: 'CHA HALLWAY',
 18: 'GANGWAY',
 19: 'ROOMING HOUSE',
 20: 'SCHOOL YARD',
 21: 'TAVERN',
 22: 'CAR WASH',
 23: 'CTA PROPERTY',
 24: 'CHA PARKING LOT',
 25: 'STAIRWELL',
 26: 'HOTEL',
 27: 'GAS STATION',
 28: 'CHA APARTMENT',
 29: 'ABANDONED BUILDING',
 30: 'CHA STAIRWELL',
 31: 'BASEMENT',
 32: 'TRUCK',
 33: 'COACH HOUSE',
 34: 'CLUB',
 35: 'CURRENCY EXCHANGE',
 36: 'LOADING DOCK',
 37: 'CHA ELEVATOR',
 38: 'LAKE',
 39: 'RAILROAD PROPERTY',
 40: 'VESTIBULE',
 41: 'DUMPSTER',
 42: 'FOREST PRESERVE',
 43: 'CHA PLAY LOT',
 44: 'CHA GROUNDS',
 45: 'GOVERNMENT BUILDING',
 46: 'HOSPITAL',
 47: 'RIVER',
 48: 'BAR OR TAVERN',
 49: 'WOODED AREA',
 50: 'ELEVATOR',
 51: 'COUNTY JAIL',
 52: 'YMCA',
 53: 'CHURCH PROPERTY',
 54: 'SEWER',
 55: 'LIVERY STAND OFFICE',
 56: 'GARAGE/AUTO REPAIR',
 57: 'CHURCH',
 58: 'CHA BREEZEWAY',
 59: 'CHA LOBBY',
 60: 'PRAIRIE',
 61: 'DRIVEWAY',
 62: 'PUBLIC GRAMMAR SCHOOL',
 63: 'JUNK YARD/GARBAGE DUMP',
 64: 'FUNERAL PARLOR',
 65: 'OFFICE',
 66: 'RIVER BANK',
 67: 'NURSING HOME',
 68: 'CLEANERS/LAUNDROMAT',
 69: 'LIQUOR STORE',
 70: 'MOTEL',
 71: 'EXPRESSWAY EMBANKMENT',
 72: 'CTA "L" PLATFORM',
 73: 'PUBLIC HIGH SCHOOL',
 74: 'TAXI CAB',
 75: 'CTA "L" TRAIN',
 76: 'TRUCKING TERMINAL',
 77: 'WAREHOUSE',
 78: 'FACTORY',
 79: 'TRAILER',
 80: 'LAUNDRY ROOM',
 81: 'SIDEWALK',
 82: 'LIVERY AUTO',
 83: 'HOSPITAL BUILDING/GROUNDS',
 84: 'BANK',
 85: 'BANQUET HALL',
 86: 'POOLROOM',
 87: 'LAGOON',
 88: 'RESIDENCE'}

In [49]:
dictionary1 = dict(zip([0,1],arr))
dictionary1

{0: 'True', 1: 'False'}

In [50]:
dataaa = data2.District.unique()
dataaa

array(['11.0', '10.0', '9.0', '8.0', '6.0', '19.0', '4.0', '25.0', '2.0',
       '5.0', '22.0', '15.0', '3.0', '7.0', '12.0', '14.0', '1.0', '18.0',
       '24.0', '17.0', '16.0', '20.0'], dtype=object)

In [51]:
len(dataaa)

22

In [66]:
dictionary2 = dict(zip(np.arange(0,22),dataaa))
dictionary2

{0: '11.0',
 1: '10.0',
 2: '9.0',
 3: '8.0',
 4: '6.0',
 5: '19.0',
 6: '4.0',
 7: '25.0',
 8: '2.0',
 9: '5.0',
 10: '22.0',
 11: '15.0',
 12: '3.0',
 13: '7.0',
 14: '12.0',
 15: '14.0',
 16: '1.0',
 17: '18.0',
 18: '24.0',
 19: '17.0',
 20: '16.0',
 21: '20.0'}

In [56]:
data2.Day.unique()

array(['Monday', 'Tuesday', 'Thursday', 'Friday', 'Saturday', 'Sunday',
       'Wednesday'], dtype=object)

In [59]:
dictionary3 = dict(zip(np.arange(0,7),['Monday', 'Tuesday', 'Thursday', 'Friday', 'Saturday', 'Sunday',
       'Wednesday']))
dictionary3

{0: 'Monday',
 1: 'Tuesday',
 2: 'Thursday',
 3: 'Friday',
 4: 'Saturday',
 5: 'Sunday',
 6: 'Wednesday'}

In [54]:
[dictionary2[x] for x in district_checkboxgroup.active]

['11.0', '10.0']